/*changes background */
.home-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .7)), url("");
}

.about-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .7)), url("../img/about.jpg");
}

.contact-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .7)), url("../img/cs.jpg");
}
